.main-section {
  width: 1000px;
  min-height: 600px;
  height: auto;
  background: #292929; /* мягкий фон */
  border-radius: 10px;
  padding: 30px 40px;
  color: #ffa31a;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3); /* тень как в card-container-splited */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
  padding-bottom: 40px
}

.main-section::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #808080;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}

.main-section-container {
    width: 800px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.tag-buttons {
  display: flex;
}



.main-tag-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.tag-button {
  padding: 10px 15px;
  border: 2px solid #dee2e6;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tag-button:hover {
  border-color: #ffa31a;
  background-color: #f8f9ff;
}

.tag-button-selected {
  padding: 10px 15px;
  border: 2px solid #ffa31a;
  border-radius: 6px;
  background-color: #ffa31a;
  color: white;
  cursor: pointer;
}

.main-tag-option {
  position: relative;
  display: inline-block;
  min-width: 120px; 
}

.main-tag-value {
  padding: 10px 15px;
  width: 100%;
  flex-shrink: 0;
  border: 2px solid #dee2e6;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.main-tag-value:hover {
  border-color: #ffa31a;
  background-color: #f8f9ff;
}

.main-tag-value.active {
  border-color: #ffa31a;
  background-color: #ffa31a;
  color: white;
}

.main-tag-value.has-selected {
  border-color: #f8bb5f;
  background-color: #e8f5e8;
  color:#ffa31a;
}

.selected-indicator {
  color: #ffa31a;
  font-weight: bold;
  margin-left: 5px;
}

.main-dropdown-menu {
  position: absolute;
  background: white;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  margin-top: 5px;
}

.main-dropdown-item {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.main-dropdown-item:hover {
  background-color: #f8f9fa;
}

.main-dropdown-item.selected {
  background-color: #e8ffbd;
  color: #ffa31a;
  font-weight: 500;
}
